*~
*.swp

# Boost.Build
stdcerr
/doc/*build*
/io/output

# Visual Studio (Code)
/.vs
.vscode

# CMake
/*build*
/cmake-build-debug/
/cmake-build-release/
/CMakeSettings.json

# JetBrains
/.idea

# Buck
.buckd
buck-out
.buckconfig.local
.buckconfig.d
cache
buckaroo
buckaroo-packages
BUCKAROO_DEPS
buckaroo_macros.bzl
